.Container {    display: flex;
    flex-direction: column;
     align-items: center; 
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 15%;
    height: 1150px;   user-select: none;
}
.Container::before {
    
    opacity: 0.1;

  }
  
.Container2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(0, 0, 0);
    border: solid 5px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 20%;
    height: 1150px;
    user-select: none;
    opacity: 0.7;
}
.Container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);opacity: 0.7;
    border: solid 5px rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 55%;
    height: 1150px;
    user-select: none;
    
}
#WipeButton{
    display:flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-image: url('bilder/ceress.png');
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    
}	
#DisplayCookies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    user-select: none;
}

/* #peoples {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    margin: auto;
    width: 120%;
    height: 20%;
    order: 3;
} */

#PlayboiCarti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 10%;
    height: 20%;
    order: 1;

}



.rotate_carti{
    position: fixed;
    
    width: 60px;
    height: 60px;
    margin: -60px 0 0 150px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
#displayUpgradecost {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;

}
#displayUpgradecost2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;

}
#displayUpgradecost3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;

}
#displayUpgradecost4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;

}
#displayUpgradecost5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;

}
#displayTimeUpgrade {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;
    opacity: 0.9;
}

button {
    opacity: 0.9; 
}

#DisplayCarti {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    user-select: none;
    order: 2;
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
